/*
    ESTILO DA PAGINA DE PORTFOLIO
*/

* {
    /* background-color: #bde0ff; */
}

.container-top {
    background-color: #eeff00;
    position: -ms-page;
    width: 100%;
    height: 100%;
}

.container-medium {
    background-color: #00ff9d;
    width: 100%;
    height: 100%;
    display: block;
    position: -ms-page;
}